.appDownload{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500; 
    width: 100%;
    background-color: var(--seond-content-bg);
    border-top: 3px var(--second-fc) solid;
    border-bottom: 5px var(--second-fc) solid;
    padding: 80px;
}

.appDownloadPlatforms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}

.appDownloadPlatforms img{
    width: max(30vw,120px);
    max-width: 180px;
    transition: .5s;
    cursor: pointer;
}

.appDownloadPlatforms img:hover{
    transform: scale(1.05);
}