.myOrders{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.myOrders h2, h4{
    color: var(--third-color);
    margin-left: 50px;
    line-height: 2;
}

.myOrders .container{
    display: flex;
    flex-direction: column;
/*     gap: 20px; */
    margin-top: 30px;
    border: 3px solid var( --body-color);
    position: relative;
    width: 100vw;
}

.myOrdersOrder{
    display: grid;
    grid-template-columns: .5fr 3fr .5fr .5fr 2fr .5fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: var(--fourth-color);
    border: 1px solid var(--second-color);
    border-bottom: 3px solid var( --body-color);
    background-color: var(--table-bg);
}

.myOrdersOrder:nth-child(2n){ 
    background-color: var(--table-second-bg);
}

.myOrdersOrder:first-child{
    background-color: var(--main-color);
    width: 100vw;
    color: var( --body-color);
    border: 3px solid var( --body-color);
}

.fixedNav{
    position: fixed;
    top: var(--nav-height);
}



.myOrdersOrder img{
    width: 70px;
}

.myOrdersOrder p span{
    color: var(--third-color)
}

.myOrdersOrder p b{
    font-weight: 500;
    color: var(--fourth-color);
}

.myOrdersOrder button{
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: var(--main-color);
    cursor: pointer;
}

.myOrdersDate{
    font-size: 10px;
}

.myOrdersOrder span{
    display: flex;
    text-align: center;
    justify-content: center;
}

@media (max-width:900px){
    .myOrdersOrder{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }

    .myOrdersOrder button{
        font-size: 10px;
    }

    
}


