.footer{
    color: var(--footer-color);
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
    width: 100%;
}

.footer img{
    color: var(--third-color);
    width: 30px;
}

.footer hr{
    width: 100%;
}

.footerContent{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footerContentLeft, .footerContentRight, .footerContentCenter{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footerContentLeft li, .footerContentRight li, .footerContentCenter li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}

.footerContentLeft li:hover, .footerContentRight li:hover, .footerContentCenter li:hover{
    color: var(--second-color);
}

.footerContentLeft h2, .footerContentRight h2, .footerContentCenter h2{
    color: var(--second-color);
}

.footerContentLeft img{
    width: 150px;
}

.socialsIconsBox img{
    width: 30px;
}

.footexSocials{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}



  @media (max-width:750px){
    .footerContent{
        display: flex;
        flex-direction: column;
        gap: 35px
    }
    .footerCopyright{
        text-align: center;
    }
}