.placeOrder{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    max-width: 95%;;
}

.placeOrderLeft{
    width: 100%;
    max-width: max(30%,500px);
}

.placeOrderLeft title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.placeOrderLeft input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 4px;
    outline-color: var(--fourth-color);
}

.placeOrderLeft .multiFiled{
    display: flex;
    gap: 10px;
}

.placeOrderRight{
    width: 100%;
    max-width: max(40%,500px); 
}

.placeOrder .cartTotal button{
    margin-top: 30px;
}

@media (max-width:750px){
    .placeOrder{
        flex-direction: column;
    }
}