.item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    -webkit-box-shadow: -9px 9px 24px 0px rgb(0, 0, 0);
    -moz-box-shadow: -9px 9px 24px 0px rgb(0, 0, 0);
    box-shadow: -9px 9px 24px 0px rgb(0, 0, 0);
    transition: .3s;
    animation: fadeIn;
    min-height: 400px;
    background: var(--white);
}

.item:hover{
    transform: scale(1.05);
}

.itemImage{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 200px;
    object-fit: cover; 
}

.itemInfo{
    padding: 20px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemNameRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.itemNameRating p{
    font-size: 20px;
    font-weight: 500;
}

.itemNameRating img{
    width: 70px;
}

.itemDesc{
    color: var(--black);
    font-size: 12px;
}

.itemPrice{
    color: var(--black);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;    
}

.itemImageContainer{
    position: relative;
}

.itemImageContainer .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.itemCounter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: var(--goldLight);
    transition: .5s;
    cursor: pointer;
  /*  &:before {
    content: '1';
    position:absolute;
    top:-12px;
    right:-12px;
    background:#178534;
    line-height:24px;
    padding:0 5px;
    height:24px;
    min-width:24px;
    color:white;
    text-align:center;
    border-radius:24px;
    z-index: 1;
    transition: 1s ease;
    animation: fly 2s forwards;
  } */
}


/* @keyframes fly {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 150px;
        left: 90%;
    }
} */

.itemAddBg{
    background-color: var(--black);
}

.itemCounter img{
    width: 35px;
}


/* Item Skeleton */

.itemSkeleton {
    display: grid;
    width: 100%;
    height: 100%;
    background: none;
    min-height: 400px;
  }
  .itemSkeleton .rowImg {
   
  }
  .itemSkeleton .rowContent {
    flex: 1;
    padding: .5rem;
  }
  .itemSkeleton .skeletonTitle{
    display: grid;
    grid-template-columns: 1fr .6fr;
    gap: 30px;
    margin-bottom: 1rem;
  }
